{% extends "base.html" %}
{% block title %}Nordic{% endblock %}
{% block style %}{% endblock%}


{% block page_container %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True)}}">
<div class="wrapper">
		<!-- Главная, О нас, Контакты - это ссылки, поэтому их необходимо заключить в элементы а -->
		<main>
		<section class="img" id="img">
		<h1>Только красивые путешествия!</h1>
		<a href="#" class="button">присоединяйся</a>
		<p class="right"><a href="https://www.instagram.com/" class="ins" target="_blank"></a><a href="https://vk.com" class="vk" target="_blank"></a><a href="https://www.facebook.com/" class="fb" target="_blank"></a></p>
		<!-- в данном случае лучше использовать не p с классом h1 а просто элемент h1		 -->
		</section>
		<h1 class="h1">Путешествуй красиво! Блог в фотографиях</h1>
		<section class="text">
		<div class="text">
			<p>Представьте себе все лучшее, что есть в России: широкие просторы, разнообразная природа, щедрая душа, девушки особой красоты, баня в конце концов. Добавьте к этому все то, чем так привлекательна Москва: гастрономические рестораны, безудержные вечеринки, звезды ТВ и инстаграмма вокруг. Взболтайте, но не смешивайте и получите Розу Хутор 2018 – правильный баланс здорового лайфстайла и роскоши.</p>

			<p>Красная поляна также радует своей доступностью: перелет занимает 2,5 часа, иметь визу необходимости нет, заказать такси можно через привычное приложение за 1400 руб., а время в пути от аэропорта до отеля составляет менее часа! Ну, где еще такое есть? При этом местная инфраструктура не просто ничуть не уступает Альпам, но и даже предвосхищает ожидания: здесь вкуснее, уютнее и веселее. Я уже не говорю об удивительном контрасте температур – наверху зима, а внизу лето!</p>

			<p class="last">В общем, какое бы время вы ни выбрали, Роза Хутор удивит и подарит желание говорить о России с восторгом!</p>
		</div>
		</section>
		<section class="tr1">
		<div class="td1">
			<div class="mosc"></div>
			<h3>Путешествия по России</h3>
			<p class="end">Самые интересные уголки России.</p>
			<p class="end">Саммые не обычные машруты.</p>
		</div>
		<div class="td2">
			<div class="lond"></div>
			<h3>Путешествия по Европе</h3>
			<p class="end">Разные страны, разные культуры исторические места, и все самое интересное в современной Европе!</p>
		</div>
		<div class="td3">
			<div class="egip"></div>
			<h3>Путешествия по Африке</h3>
			<p class="end">Дикая природа, крокодилы, обезьяны, сафари на джипах, гостиницы на деревьях и самыеопвасные приключение ждут тебя!</p>
		</div>
		</section>
		<section class="tr2">
		<div class="td4">
			<div class="usa"></div>
			<h3>Путешествия по Северной Америке</h3>
			<p class="end">Конечно, мы проедим через всю Америкуи побываем как в главных туристических местах, так и в уголках, где почти не вступала нога человека.</p>
		</div>
		<div class="td5">
			<div class="lat"></div>
			<h3>Путешествия по Южной Америке</h3>
			<p class="end">Южная Америка - место, где хочет побывать каждый. Богатые районы и заброшенные фавелы, опасности и  приключения, темпераметные люди и многое другое на странице наших путешествий.</p>
		</div>
		<div class="td6">
			<div class="kangaroo"></div>
			<h3>Путешествия по Австралии</h3>
			<p class="end">Мы побываем на отдельном контененте. Почему то думаю об Австралии, сразу представляещь кенгуру, хотя это совершенно не символ страны.</p>
		</div>
		</section>
		<a href="#img" class="up"></a>
		</main>
		<footer>
		<div class="contact" id="about">
			<p><span class="cont1">Мы рядом с Вами:</span></p>
			<p><span  class="cont2">Москва, ул. Комсомола 12 оф.234</span></p>
			<p>Тел: 8(495) 626-46-00</p>
			<p>E-mail:travel@mytravel.ru</p>
			<p>Часы работы: пн-пт 10:00-18:00</p>
			<a href="https://www.instagram.com/" class="ins" target="_blank"></a><a href="https://vk.com" class="vk" target="_blank"></a><a href="https://www.facebook.com/" class="fb" target="_blank"></a>
		</div>
		<div class="blogo"></div>
		<div class="links">
			<a href="#">Путешествия по России</a><br>
			<p></p>
			<a href="#">Путешествия по Европе</a><br>
			<p></p>
			<a href="#">Путешествия по Африке</a><br>
			<p></p>
			<a href="#">Путешествия по Северной Америке</a><br>
			<p></p>
			<a href="#">Путешествия по Южной Америке</a><br>
			<p></p>
			<a href="#">Путешествия по Австралии</a><br>
		</div>
		</footer>

	</div>


{% endblock %}
